.options {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #3c4b66;
  text-shadow: -1px 1px 0 #fff;
  margin-top: 20px;

  .gh-user, .gh-apikey {
    margin: 10px auto;

    span {
      display: flex;
      font-size: 10pt;
      color: #3c4b66;
      padding-bottom: 10px;
      font-family: sans-serif;
      text-shadow: -1px 1px 0 #fff;
    }
  }
}

.title {
  font-size: 14pt;
  color: #3c4b66;
  padding-bottom: 10px;
  font-family: sans-serif;
  text-shadow: -1px 1px 0 #fff;
}